//base styles
*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
}
html {    
    font-size: 62.5%;    
    font-family: $font-family-text;
}
body{
    font-size: 1rem;
}
.hide {
    visibility: hidden;
}
.no-block {
    display: none;
}
.container {
    width: 140rem;    
    margin: 0 auto;
}
.svg {
    width: 1.8rem;
    height: 1.8rem;
}