
.game {
    position: relative;
    width: 70%;
    &__container{
        font-size: 1.7rem;
        display: block;        
        margin-top: 6rem;    
        padding: 1rem;    
    }
    &__input {
        font-size:2.4rem;
        width: 45rem;
        padding: 1rem 0.5rem;
        outline: none;        
    }
    .racer__div {
        width: 100%;
        display: flex;
    }
    .racer__progress{
        width: 0;
        background: #5cff5c;
        height: 1.7rem;
    }
}

.typing-speed {
    position: absolute;
    right:0;
    transform: translateX(110%);
}
.hoverGreen {
    background-color: #5cff5c;
}
.hoverRed {
    background-color: rgb(247, 73, 73);
}

