.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 1.6rem;
    &__side-data{
        display: flex;
        list-style: none;
    }
    &__link {
        font-size: 1.6rem;
    }
    &__link:not(:last-child){
        margin-right: 10px;
        
    }    
}
.user {    
    &_svg {        
        position: relative;
        fill: blue;
        width: 18px;       
    }
    &__links {
        // border: 1px solid blue;
        box-shadow: 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
        background: rgb(221, 247, 255);
        position: absolute;        
        margin-top: 4.7rem;
        top: 0rem;        
        padding: 1.5rem;                
        border-radius: 1rem;
        list-style: none;        
        font-size: 1.6rem;
        display: none;        
        &__sub-text{
            color:rgb(96, 96, 96);
        }
        &__form {      
            text-align: left;      
            &__input {          
                border: none;      
                font-size: 1.6rem;
                padding: 1rem;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.043), 0 4px 12px rgba(0, 0, 0, 0.043);
                text-align: center !important;
            }
        }
    }
    &:hover .user__links {
        right: 1rem;
        display: flex;               
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;            
        div {
            width: 100%;
        }
    }
    &__link--switch {
        color:rgb(96, 96, 96);
        cursor: pointer;
        text-decoration: underline;
    }
}

.existing-account {
    width: 200%;
    // border: 1px solid red;    
}